@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(47, 135, 218), rgb(255, 255, 255));
    min-height: 100vh;
}
main{
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
p{
    position: absolute;
    font-size: 80%;
    height: 5%;
    width: 5%;
    left: 60%;
    bottom: 53%;
    transform: translate(5%,10%);
}

.pokedex{
    width: 90%;
    height: 100%;
    max-height: 500px;
}
.pokemon{
    height: 30%;
    position: absolute;
    left: 35%;
    bottom: 45%;
    transform: translate(-80%,10%);
}